<app-header></app-header>

<!-- <ion-content>
	<h2 padding translate>menu.my-orders</h2>

	<div class="content-center" *ngIf="productList">
        <ion-spinner color="primary"></ion-spinner>
    </div>

    <div class="content-center" *ngIf="!loading && !order" translate>notfound_order</div>

    <div>
        <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="setFilteredItems(searchTerm)"></ion-searchbar>
    </div>

    <ion-list lines="none">
        <ion-item (click)="openOrder()">
            <ion-img slot="start" class="icon-order" src="/assets/images/icon/Bell-notification.png"></ion-img>
            <ion-label>H2572 - Entregue</ion-label>
        </ion-item>
        <ion-item (click)="openOrder()">
            <ion-img slot="start" class="icon-order" src="/assets/images/icon/Bell-notification.png"></ion-img>
            <ion-label>H2573 - Em andamento</ion-label>
        </ion-item>
        <ion-item (click)="openOrder()">
            <ion-img slot="start" class="icon-order" src="/assets/images/icon/Bell-notification.png"></ion-img>
            <ion-label>H2574 - Em andamento</ion-label>
        </ion-item>
        <ion-item (click)="openOrder()">
            <ion-img slot="start" class="icon-order" src="/assets/images/icon/Bell-notification.png"></ion-img>
            <ion-label>H2575 - Em andamento</ion-label>
        </ion-item>
        
    </ion-list>
</ion-content> -->

<ion-content>
    <h2 padding translate>menu.my-orders</h2>

    <div class="content-center" *ngIf="loading">
        <ion-spinner color="primary"></ion-spinner>
    </div>

    <!-- <div class="content-center" *ngIf="!loading && !products" translate>notfound_product</div> -->

    <div class="segment-products">
        <ion-segment mode="md">
            <ion-segment-button value="innovation" checked>
                <ion-label translate>menu.my-orders</ion-label>
            </ion-segment-button>

            <ion-segment-button value="newInnovation">
                <ion-label translate>samples</ion-label>
            </ion-segment-button>
        </ion-segment>
	</div>

    <ion-list lines="none">
        <ion-item *ngFor="" (click)="openOrder()">
            <ion-img slot="start" class="icon-order" src="/assets/images/icon/timer.png"></ion-img>
            <ion-label>H2572 - Entregue</ion-label>
        </ion-item>
        <ion-item (click)="openOrder()">
            <ion-img slot="start" class="icon-order" src="/assets/images/icon/timer.png"></ion-img>
            <ion-label>H2573 - Em andamento</ion-label>
        </ion-item>
        <ion-item (click)="openOrder()">
            <ion-img slot="start" class="icon-order" src="/assets/images/icon/timer.png"></ion-img>
            <ion-label>H2574 - Em andamento</ion-label>
        </ion-item>
        <ion-item (click)="openOrder()">
            <ion-img slot="start" class="icon-order" src="/assets/images/icon/timer.png"></ion-img>
            <ion-label>H2575 - Em andamento</ion-label>
        </ion-item>       
    </ion-list>
</ion-content> 
