ion-grid {
    //height: calc(100% - 190px);
    display: flex;
    align-items: center;
    background-color: rgba(255,255,255,0.8);

    .about {
        text-align: center;
        padding-bottom: 150px;

        /deep/ p {
            line-height: 1.5;
            // color: var(--ion-color-cinzamedio);
            padding: 0px 5px;
        }
    }
}
ion-img{
    // height: 20px;
}

ion-segment-button {
    --background: #FFFFFF;
    --background-checked: var(--ion-color-medium);
    --color: var(--ion-color-cinzaclaro);
    --border-radius: 0;
    --border-width: 0;
    --padding-top: 4px;
    --padding-bottom: 4px;
    --indicator-color: transparent;
    --indicator-color-checked: transparent;

    ion-label {
        font-size: 15px;
    }
}

.show{
    display: none;
}
.hide{
    display: none;
}
.icon-order{
    width: 25px;
    // height: 30px;
}