<!-- <ion-header no-border class="header-components">
	<ion-toolbar>
		<ion-buttons slot="start">
           <ion-menu-button>
              <img src="../../assets/images/icon/menu-icon.png" alt="">
           </ion-menu-button>
        </ion-buttons>
		<img src="../../assets/images/logo.png" alt="">
		<ion-buttons slot="end">
			<ion-button>
				<ion-icon name="notifications-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content class="background-img">
	<ion-grid>
		<ion-row class="about">
			<ion-col size="12">
				<h2 translate>Open Innovations</h2>
			</ion-col>
			<ion-col size="12" [innerHTML]="text"></ion-col>
		</ion-row>
	</ion-grid>
</ion-content>

 -->

 <app-header></app-header>
<ion-content>
	<h2 padding translate>menu.innovations</h2>
	
    <div class="segment-products">
        <ion-segment mode="md">
            <ion-segment-button value="innovation" checked>
                <ion-label translate>innovation</ion-label>
            </ion-segment-button>

            <ion-segment-button (click)="newInnovation()" value="newInnovation">
                <ion-label translate >newInnovation</ion-label>
            </ion-segment-button>
        </ion-segment>
	</div>
	<div id="batata" *ngIf="allProducts"  class="list">
		<ion-list *ngFor="let products of allProducts"  lines="none">
			<ion-row [routerLink]="['/pages/menu/docs/innovation-detail/', products.title]">
				<ion-col size="9">
					<ion-row class="title">
						{{products.title}}
					</ion-row>	
					<ion-row >
						<ion-icon name="calendar"></ion-icon><span class="date">23 SET</span>
					</ion-row>
				</ion-col>
				<ion-col size="3">
					<button class="button-aproved ">{{products.status}}</button>
				</ion-col>
			</ion-row>
		</ion-list>
	</div>
	<!-- <div class="list" (click)="openDetail()">
		<ion-list lines="none">
			<ion-row>
				<ion-col size="9">
					<ion-row class="title">
						Otimização de linha de produção
					</ion-row>
					<ion-row >
						<ion-icon name="calendar"></ion-icon><span class="date">23 SET</span>
					</ion-row>
				</ion-col>
				<ion-col size="3">
					<button class="button-aproved">APROVADO</button>
				</ion-col>
			</ion-row>
		</ion-list>
	</div> -->
</ion-content> 

