// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

body {
	.menu-components {
		display: contents;
	}

	h2 {
		font-size: 1rem;
		// text-transform: uppercase;
		color: var(--ion-color-primary);
		margin-top: 0 !important;
	}

	.content-center {
		text-align: center;
	}

	.header-components {
		//padding: 16px 10px 5px;

		ion-toolbar {
			text-align: center;

			ion-icon {
				font-size: 25px;
				color: var(--ion-color-cinzamedio);
			}
		}
	}

	ion-header {
		padding: 16px 0 8px 0;

		img, ion-icon {
			margin-top: 1px;
			// padding-left: 12px;
			padding-right: 12px;
		}
	}

	ion-header {
		img {
			max-height: 40px;
			//right: 50%;
			//transform: translate(-50%, 0);
		}
	}

	ion-grid {
		padding: 16px!important;
	}

	.background-img {
		--background: url('assets/images/home_bg.png') no-repeat bottom center / 100%;
		background-color: #ffffff;
	}
	.background-img-about {
		--background: url('assets/images/home_bg.png') no-repeat bottom center / 250px;
		background-color: #ffffff;
	}

	ion-button[shape="round"] {
		text-transform: inherit;
		letter-spacing: 0.1em;
		height: 40px;
		// text-transform: uppercase;
	}

	ion-button[disabled] {
		/*opacity: 0.7;*/
	}

	form {
		ion-item {
			--border-color: var(--ion-color-secondary);
			--highlight-height: 2px;
			--highlight-color-valid: var(--ion-color-secondary);
			--highlight-color-invalid: var(--ion-color-warning);
			--background: var(--ion-color-background);
			margin-bottom: 8px;
		}

		ion-label {
			--color: var(--ion-color-secondary) !important;
			// text-transform: uppercase;
		}
	}

	.title {
		color: var(--ion-color-cinzaclaro);
		display: flex;
		align-items: center;

		ion-icon {
			padding: 0px 5px;
		}

		span {
			color: var(--ion-color-primary);
			font-weight: bold;
		}
	}
}

.popover .popover-content {
	width: 300px;
    position: inherit;
	margin: 0%;
	
	ion-list-header{
		background-color: #09578f;
	}
}
