<app-header></app-header>
<ion-content>
	<ion-grid>
		<ion-row class="news">
			<ion-col size="12">
				<h2 translate>menu.news</h2>
			</ion-col>
			<ion-col size="12">
				<ion-slides pager="false" [options]="slideOpts">
					<ion-slide *ngFor="let item of categories" class="button-category" (click)="selectCategory(item.id)" [class.active]="categorySelected == item.id">
						{{ item.titulo }}
					</ion-slide>
				</ion-slides>
			</ion-col>
			<ion-list>
				<ion-item lines="none" *ngIf="loading">
					<ion-col>
						<p size="12" padding>
							<ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
							<ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
						</p>

						<div size="10">
							<span>
								<ion-icon name="square"></ion-icon>
								<ion-skeleton-text animated style="width: 40px"></ion-skeleton-text>
							</span>
							<span>
								<ion-icon name="square"></ion-icon>
								<ion-skeleton-text animated style="width: 40px"></ion-skeleton-text>
							</span>
						</div>
					</ion-col>
				</ion-item>
				<ion-item *ngFor="let new of news" lines="none" no-padding>
					<ion-col>
						<div (click)="openDetail(new)">
							<ion-img size="12" [src]="new.imagem" *ngIf="new.imagem"></ion-img>

							<div padding>
								<p size="12">{{ new.titulo }}</p>

								<div size="10">
									<span>
										<ion-icon name="calendar"></ion-icon>
										{{ fbService.getDate(new.created_at) | date: 'dd MMM' }}
									</span>
									<span *ngIf="fbService.countItems('views',new)">
										<ion-icon name="eye"></ion-icon>
										{{ fbService.countItems('views',new) }}
									</span>
									<span *ngIf="fbService.countItems('likes',new)">
										<ion-icon name="heart"></ion-icon>
										{{ fbService.countItems('likes',new) }}
									</span>
									<span *ngIf="fbService.countItems('share',new)">
										<ion-icon name="md-share"></ion-icon>
										{{ fbService.countItems('share',new) }}
									</span>
								</div>
							</div>
						</div>
						<div size="2" class="icons">
							<ion-icon
								*ngIf="new.link"
								(click)="addShare(new)"
								name="md-share"
								class="share">
							</ion-icon>

							<ion-icon
								(click)="addLike(new)"
								[class.liked]="new.likes && new.likes[firebaseAuth.auth.currentUser.uid]"
								name="heart"
								class="heart">
							</ion-icon>
						</div>
					</ion-col>
				</ion-item>
			</ion-list>
		</ion-row>
	</ion-grid>
</ion-content>
