/*Controla o tamanho da telas*/
$break-s: 320px;
$break-m: 375px;
$break-l: 425px;

/*Controla o tamanho das fontes*/
$font-s: 12px;
$font-m: 13px;
$font-l: 15px;

@mixin fontIcon {
	@media screen and (max-width: $break-s) {
		font-size: $font-s;
	}

	@media screen and (min-width: 321px) and (max-width: $break-m) {
		font-size: $font-m;
	}

	@media screen and (min-width: 376px) and (max-width: $break-l) {
		font-size: $font-l;
	}
}

ion-header {
	background: var(--ion-color-background);
}

ion-content, ion-toolbar {
	--background: var(--ion-color-background);
}

.news{

	.button-category {
		background-color: var(--ion-color-light);
		padding: 5px 8px;
		border-radius: 15px;
		margin-right: 5px;
		font-size: var(--font-small-size);
		color: var(--ion-color-cinzamedio);

		&.active {
			background-color: var(--ion-color-medium);
			color: var(--ion-color-medium-contrast);
		}
	}

	ion-list {
		background: transparent;
		margin-top: 8px;
		text-align: left;
		width: 100%;

		ion-item {
			--border-radius: 4px;
			--background: #FFF;
			--inner-padding-end: 0;
			margin-bottom: 16px;

			ion-col {
				padding: 0;
			}

			ion-img {
				width: 100%;
			}

			ion-skeleton-text {
				margin-right: 4px;
				margin-top: 8px;
				margin-bottom: 8px;
			}

			p {
				margin-top: 0;
				margin-bottom: 8px;
			}

			div {

				span {
					margin-right: 10px;
					display: flex;
					align-items: center;
					float: left;
					margin-bottom: 14px;
					@include fontIcon;
					color: var(--ion-color-primary);

					ion-icon {
						margin-right: 5px;
						color: var(--ion-color-cinzamedio);
					}

					ion-icon[name="square"] {
						color: var(--ion-color-border);
					}
				}
			}

			.icons {
				position: absolute;
				bottom: 0;
    			right: 0;
				padding-bottom: 8px;
				padding-right: 8px;
				text-align: right;

				ion-icon {
					margin-right: 5px;
				}

				.share{
					color: var(--ion-color-primary);
					font-size: 1.5rem;
				}

				.heart{
					font-size: 1.5rem;
					color: var(--ion-color-cinzamedio);
				}

				.liked {
					color: var(--ion-color-danger);
					animation-name: likeAnimation;
					animation-duration: 250ms;
				}

				/* Animação de like */
				@keyframes likeAnimation {
					from { transform: scale(1); color: var(--ion-color-cinzamedio); }
					to { transform: scale(2.5); color: rgba(255, 0, 0, 0.1); }
				}
			}
		}
	}
}
