<app-header></app-header>

<ion-content>
	<ion-grid>
		<ion-row class="news">
			<ion-col size="12" class="title">
				<p translate>menu.doc</p><span translate></span>
			</ion-col>
			<ion-col size="12" class="title" *ngIf="false">
				<ion-searchbar animated></ion-searchbar>
			</ion-col>

			<ion-col size="12" class="category" *ngIf="loading">
				<ion-item lines="none" class="category-title">
					<span class="category-image-skeleton"></span>
					<ion-skeleton-text animated style="width: 60%; height: 1rem;"></ion-skeleton-text>
				</ion-item>
			</ion-col>

			<ion-col size="12" class="category" *ngFor="let category of categories">
				<ion-item lines="none" class="category-title" (click)="openCategory(category)">
					<ion-img src="/assets/images/icon/{{ category.open ? 'folder-open.png' : 'folder-close.png' }}"></ion-img>
					{{ category.label }}
				</ion-item>

				<ion-list *ngIf="category.open" mode="md" padding>

					<ion-item class="file-item" *ngFor="let file of category.arquivos_load" lines="none" no-padding>
						<ion-col *ngIf="file.loading">
							<ion-skeleton-text animated style="width: 60%; height: 1rem;"></ion-skeleton-text>
						</ion-col>

						<ion-col *ngIf="!file.loading" no-padding (click)="openDetail(file.id)">
							<p size="12">{{ file.titulo }}</p>

							<div size="12">
								<span>
									<ion-icon name="calendar"></ion-icon>
									{{ setDate(file.created_at) | date: 'dd MMM' }}
								</span>
								<span *ngIf="file.extensao">
									<ion-icon name="attach"></ion-icon>
									{{ file.extensao }}
								</span>
								<span *ngIf="file.tamanho">
									<ion-icon name="md-copy"></ion-icon>
									{{ file.tamanho }}
								</span>
							</div>
						</ion-col>
					</ion-item>
				</ion-list>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
