/*
.transparent-img{
	-webkit-filter: blur(5px);
	filter: blur(5px);
	height: 100%;
}

.transparent-color{
	background-color: #ffffffbd;
	height: 100%;
}

@keyframes blurExample {
	from   {filter:blur(0);}
	to {filter:blur(8px);}
}

*/
ion-header {
	text-align: center;

	img {
		width: 30%;
	}
}

.header-md:after {
	background-image: none;
}

.header-ios ion-toolbar:last-child {
	--border-width: 0 0 0px;
}

.terms {
	color: #333;
	margin-top: 16px;

	span {
		padding-left: 8px;
	}
}

.desfoque {
	position: fixed;
	top: -15px;
	bottom: -15px;
	left: -15px;
	right: -15px;
}

.desfoque {
	background: url('../../assets/images/home_bg.png') no-repeat bottom center / 100%;
	background-position: cover;
	-webkit-filter: blur(7px) opacity(50%);
	filter: blur(7px) opacity(50%);
}

.conteudo {
	z-index: 2;
	text-align: center;
	color: var(--ion-color-cinzamedio);
	overflow-y: scroll;

	ion-list {
		background-color: transparent;
	}

	.button{
		margin-top: 12px;
	}
}
