<ion-header no-border class="header-components">
    <ion-toolbar>
      <ion-buttons slot="start">
             <ion-back-button></ion-back-button>
          </ion-buttons>
          <div class="header-title">
              <img src="../../assets/images/logo-header.png" alt="" />
          </div>
          <ion-buttons slot="end">            </ion-buttons>
    </ion-toolbar>
  </ion-header>
<ion-content>
  <ion-row class="status">
    APROVADO  
  </ion-row>
    <ion-list lines="none">
      <ion-row class="title">
        <ion-item>
          <ion-label position="stacked">Titulo</ion-label>
          <ion-input type="text">Otimização de linha de produção</ion-input>
        </ion-item>
      </ion-row>
      <ion-row class="desc">
          <ion-item>
            <ion-label position="stacked">Descrição</ion-label>
            <ion-input class="input-inn" type="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus venenatis dui at lacus tristique convallis. Nullam porttitor maximus nulla, sed eleifend tellus faucibus et. Proin mollis quam congue risus posuere dapibus.</ion-input>
          </ion-item>  
      </ion-row>
      <ion-row class="date">
          <ion-item>
            <ion-label position="stacked">Data</ion-label>
            <ion-input type="date" value="2018-12-17"></ion-input>
          </ion-item>  
      </ion-row>

      <!-- <ion-row class="button">
          <ion-button>Download</ion-button>
      </ion-row> -->
    </ion-list>
  
</ion-content> 

