.status{
    display: flex;
    justify-content: center;
    font-weight: 500;
    padding-bottom: 30px;
    color: green;
    
}
.title{
    display: flex;
    justify-content: center;

    ion-label{font-size: 1.30rem;}
}
.desc{
    display: flex;
    justify-content: center;

    ion-label{font-size: 1.30rem;}
    ion-input{margin-bottom: 5px;}
    ion-input{margin-top: 8px;}
}
.date{
    ion-label{font-size: 1.30rem;}
}
.button{
    display: flex;
    justify-content: center;
    height: 40px;
    margin-bottom: 5px;
}
ion-item{
    width: 100%;
    margin: 0px;
    border-bottom: #c3c3c3 solid 1px;
}
ion-input{
    font-size: 13px;
}
