<div style="width:100%;height: auto;background-color: #FDFDFD;max-width: 600px;display: block;margin:0 auto;border:1px solid #F2F2F2;">
	<div style="padding: 22px 0;background-color: #F8F8F8;">
		<img style="height: auto;width: 40%;height: auto;margin: 0 auto;display: block;" src="https://firebasestorage.googleapis.com/v0/b/community-homolog.appspot.com/o/logo.png?alt=media&token=c881e7e9-e912-4ae6-b286-77fd96d85d0f" alt="" />
	</div>
	<div style="padding: 20px 0 0;">
		<p style="text-align: left;padding:0 15px;font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 18px;color:#4e4e4e;">
			Hello,
		</p>
		<p style="text-align: left;padding:0 15px;font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 14px;color:#4e4e4e;">
			Follow this link to reset your %APP_NAME% password for your %EMAIL% account.
		</p>
        <p style="text-align: left;padding:0 15px;font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 14px;color:#4e4e4e;">
            <a href='%LINK%'>%LINK%</a>
        </p>
        <p style="text-align: left;padding:0 15px;font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 14px;color:#4e4e4e;">
            If you didn’t ask to reset your password, you can ignore this email.
        </p>
        <p style="text-align: left;padding:0 15px;font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 14px;color:#4e4e4e;">
            Thanks.
        </p>
	</div>
</div>
