// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {

    --ion-text-color: #333;

    --font-small-size: 12px;

    /** primary **/
    --ion-color-primary: #0A63A2;
    --ion-color-primary-rgb: 10,99,162;
    --ion-color-primary-contrast: var(--ion-color-light);
    --ion-color-primary-contrast-rgb: var(--ion-color-light-rgb);
    --ion-color-primary-shade: #09578f;
    --ion-color-primary-tint: #2373ab;

    /** secondary **/
    --ion-color-secondary: #0EAFCC;
    --ion-color-secondary-rgb: 14,175,204;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0,0,0;
    --ion-color-secondary-shade: #0c9ab4;
    --ion-color-secondary-tint: #26b7d1;

    /** tertiary **/
    --ion-color-tertiary: #80b3c6;
    --ion-color-tertiary-rgb: 128,179,198;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0,0,0;
    --ion-color-tertiary-shade: #719eae;
    --ion-color-tertiary-tint: #8dbbcc;

    /** success **/
    --ion-color-success: #4CD964;
    --ion-color-success-rgb: 76,217,100;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #43bf58;
    --ion-color-success-tint: #5edd74;

    /** warning **/
    --ion-color-warning: #FFCC00;
    --ion-color-warning-rgb: 255,204,0;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0b400;
    --ion-color-warning-tint: #ffd11a;

    /** danger **/
    --ion-color-danger: #FF3B30;
    --ion-color-danger-rgb: 255,59,48;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #e0342a;
    --ion-color-danger-tint: #ff4f45;

    /** dark **/
    --ion-color-dark: #00346E;
    --ion-color-dark-rgb: 0,52,110;
    --ion-color-dark-contrast: var(--ion-color-background);
    --ion-color-dark-contrast-rgb: 255,255,255;
    --ion-color-dark-shade: #002e61;
    --ion-color-dark-tint: #1a487d;

    /** medium **/
    --ion-color-medium: #C1D7ED;
    --ion-color-medium-rgb: 193,215,237;
    --ion-color-medium-contrast: var(--ion-color-primary);
    --ion-color-medium-contrast-rgb: var(--ion-color-primary-rgb);
    --ion-color-medium-shade: #aabdd1;
    --ion-color-medium-tint: #c7dbef;

    /** light **/
    --ion-color-light: #EDF6FD;
    --ion-color-light-rgb: 237,246,253;
    --ion-color-light-contrast: var(--ion-color-cinzamedio);
    --ion-color-light-contrast-rgb: var(--ion-color-cinzamedio-rgb);
    --ion-color-light-shade: #d1d8df;
    --ion-color-light-tint: #eff7fd;

    /** Cinza medio: **/
    --ion-color-cinzamedio: #8b8b8b;
    --ion-color-cinzamedio-rgb: 139,139,139;
    --ion-color-cinzamedio-contrast: #000000;
    --ion-color-cinzamedio-contrast-rgb: 0,0,0;
    --ion-color-cinzamedio-shade: #7a7a7a;
    --ion-color-cinzamedio-tint: #979797;

    /** Cinza claro **/
    --ion-color-cinzaclaro: #aaaaaa;
    --ion-color-cinzaclaro-rgb: 170,170,170;
    --ion-color-cinzaclaro-contrast: #000000;
    --ion-color-cinzaclaro-contrast-rgb: 0,0,0;
    --ion-color-cinzaclaro-shade: #969696;
    --ion-color-cinzaclaro-tint: #b3b3b3;



    --ion-color-border: #DDDDDD;

    /** background **/
    --ion-color-background: #f6fbff;
    --ion-color-background-rgb: 246,251,255;

    --ion-color-submenu-active: #4A82BF;
}

/************************
 *  CUSTOM COLORS       *
 ************************/

/** menu-selected **/
.ion-color-menu-selected {
    --ion-color-base: #316EAF;
    --ion-color-base-rgb: 49,110,175;
    --ion-color-contrast: #FFFFFF;
    --ion-color-contrast-rgb: 255,255,255;
    --ion-color-shade: #2B619A;
    --ion-color-tint: #467DB7;
}

/** menu-subpages **/
.ion-color-menu-subpages {
    --ion-color-base: #00346E;
    --ion-color-base-rgb: 0,52,110;
    --ion-color-contrast: var(--ion-color-secondary);
    --ion-color-contrast-rgb: var(--ion-color-secondary-rgb);
    --ion-color-shade: #002e61;
    --ion-color-tint: #1a487d;
}

/** submenu-selected **/
.ion-color-submenu-selected {
   --ion-color-base: #4A82BF;
   --ion-color-base-rgb: 49,110,175;
   --ion-color-contrast: #FFFFFF;
   --ion-color-contrast-rgb: 0,0,0;
   --ion-color-shade: #4172A8;
   --ion-color-tint: #5C8fC5;
}


/** Fontes **/
@font-face {
    font-family: 'GillSans';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/GillSans.ttc');
}

@font-face {
    font-family: 'Roboto-Bold-webfont';
    font-style: normal;
    font-weight: bold;
    src: url('../assets/fonts/Roboto-Bold-webfont.ttf');
}

@font-face {
    font-family: 'Roboto-Light-webfont';
    font-style: normal;
    font-weight: lighter;
    src: url('../assets/fonts/Roboto-Light-webfont.ttf');
}

@font-face {
    font-family: 'Roboto-Medium-webfont';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/Roboto-Medium-webfont.ttf');
}

@font-face {
    font-family: 'Roboto-Regular-webfont';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/Roboto-Regular-webfont.ttf');
}

@font-face {
    font-family: 'Roboto-Thin-webfont';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/Roboto-Thin-webfont.ttf');
}
