.my-custom-menu {
    --width: 500px;
}

ion-menu {
    --background: var(--ion-color-dark);

    ion-header {
        padding-bottom: 1px;

        .icon-close {
            font-size: 25px;
            color: #fff;
            margin-left: 15px;
        }
    }

    ion-content {
        --background: transparent;

        ion-list {
            padding: 0px;

            ion-item {
                --padding-top: 10px;
                --padding-bottom: 10px;
                --padding-left: 5px;
                --padding-right: 5px;
                color: #fff;
                // text-transform: uppercase;

                img, ion-icon {
                    margin-left: 5px;
                    margin-right: 30px;
                }

                ion-icon {
                    color: #fff;
                    font-size: 30px;
                }
            }
        }
    }

    .submenu ion-item {
        max-height: 0;
        overflow: hidden;
    }

    .hide-submenu ion-item {
        max-height: 0;
        animation-name: slide-out;
        animation-duration: 200ms;
    }

    .show-submenu ion-item {
        max-height: 70px;
        animation-name: slide-in;
        animation-duration: 200ms;
    }

    @keyframes slide-in {
        from { max-height: 0; }
        to { max-height: 70px; }
    }

    @keyframes slide-out {
        from { max-height: 70px; }
        to { max-height: 0; }
    }
}
.icon{
    width: 64px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
