<ion-header no-border class="header-components">
	<ion-toolbar>
		<ion-buttons slot="start">
           <ion-back-button></ion-back-button>
        </ion-buttons>
        <div class="header-title">
            <img src="../../assets/images/logo-header.png" alt="" />
        </div>
        <ion-buttons slot="end"></ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ul class="timeline">
      <li class="event">
        <h3>Pedido Realizado</h3>
        <p>Seu pedido foi realizado com sucesso!<br>09/07/19 - 12:07</p>
      </li>
      <li class="event">
        <h3>Aguardando Pagamento</h3>
        <p>Efetue o pagamento do boleto para continuar.<br>09/07/2019 - 13:23H</p>    
      </li>
      <li class="event">
        <h3>Pagamento Realizado</h3>
        <p>Seu pedido será enviado à transportadora<br>09/07/2019 - 14:10H</p>    
      </li>
    </ul>
  </div>
</ion-content>
