.status-order{
    width: 15px;
    height: 15px;
    margin: 15px;
    border-radius: 100px;
}
.desc-order{
    border-left: 1px black dashed;
    padding-left: 10px;
    margin: 3px 0px 20px 22px;
    font-size: 13px;
    color: #C6C6C6;
}
.text-order{
    margin: 13px 0px 0px 0px;
}
.stts{
    justify-content: center;
    display: flex;
    align-items: center;
}

//////////////////////////////////////////////////@at-root

/* Import */

@import url('https://fonts.googleapis.com/css?family=Chivo:300,300i,400,400i,700,700i,900,900i|Saira+Extra+Condensed:100,200,300,400,500,600,700,800|Saira:100,200,300,400,500,600,700,800');

/* Variables */


/* Base */

body {
  background: #252827;
  font-size: 16px;
}

p {
  font-weight: 300;
}

a { 
  color: #6c6d6d;
  text-decoration: none;
  // text-transform: uppercase;
  display: block;
  letter-spacing: .3em;
  font-size: .6em;
  font-weight: 400;
  background: #252727;
  padding: .3rem 1rem;
  margin: 1.9rem 0 0 0;
  float: right;
}

a:hover { 
  color: white;
  background: #004ffc;
  border-bottom: .35em solid black;
}

strong {
  font-weight: 600;
}

h1 {
//  font-family: 'Saira', sans-serif;
 letter-spacing: 1.5px;
 color: white;  
 font-weight: 400;
 font-size: 2.4em;
}

#content {
  margin-top: 50px;
  text-align: center;  
}

/* Timeline */

.timeline {
  border-left: 4px dashed #c3c3c3;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;    
  background: fade(white , 3%);
  color: fade(white, 80%);
//   font-family: 'Chivo', sans-serif;  
  margin: 10px auto;  
  letter-spacing: 0.5px;   
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;   
  padding: 10px 0px 0px 47px;   
  list-style: none;
  text-align: left;  
  font-weight: 100;  
  max-width: 85%; 
  
  h1 {
//    font-family: 'Saira', sans-serif;
   letter-spacing: 1.5px;
   font-weight: 100;
   font-size: 1.4em;    
  }
  
  h2, h3 {
//    font-family: 'Saira', sans-serif;
   letter-spacing: 1.5px;
   font-weight: 400;
   font-size: 18px;
  }
  p{
      font-size: 14px;
  }
  
  .event {
    border-bottom: 0.5px solid #c3c3c3;
    padding-bottom: 10px;
    margin-bottom: 50px;
    position: relative;

    &:last-of-type { 
      padding-bottom: 0;
      margin-bottom: 0; 
      border: none;      
    }

    &:before, &:after {
      position: absolute;
      display: block;
      top: 0;
    }

    &:before {
      left: (((120px * 0.6) + 50px + 4px + 11px + (4px * 2)) * 1.5) * -1;    
      color: fade(white, 40%);    
      content: attr(data-date);
      text-align: right;
      font-weight: 100;    
      font-size: 0.9em;
      min-width: 120px;
    //   font-family: 'Saira', sans-serif;
    }

    &:after {
      box-shadow: 0 0 0 4px fade(#004ffc ,100%);    
      left: -73.85px;
      background: white;
      background-size: 45px;
      background-repeat: no-repeat;
      background-image: url("../../../assets/images/icon/cart.png");   
      // border-radius: 50%;  
      height: 50px;
      width: 50px;
      content: "";
      top: 5px;
    }
  }
}