<app-header></app-header>
<ion-content>
    <h2 padding translate>menu.products</h2>

    <div class="content-center" *ngIf="loading">
        <ion-spinner color="primary"></ion-spinner>
    </div>

    <div class="content-center" *ngIf="!loading && !products" translate>notfound_product</div>

    <div class="segment-products" *ngIf="products">
        <ion-segment mode="md" (ionChange)="segmentChanged($event)">
            <ion-segment-button value="cabelo" checked *ngIf="products.cabelo">
                <ion-label translate>for_hair</ion-label>
            </ion-segment-button>

            <ion-segment-button value="pele" *ngIf="products.pele">
                <ion-label translate>for_skin</ion-label>
            </ion-segment-button>

            <!-- <ion-segment-button value="vida" *ngIf="products.vida">
                <ion-label translate>science_life</ion-label>
            </ion-segment-button> -->
        </ion-segment>
    </div>
    <div>
        <ion-searchbar placeholder="{{ 'search' | translate }}" [(ngModel)]="queryText" (ionInput)="setFilteredItems($event)" translate></ion-searchbar>
    </div>

    <ion-list lines="none" *ngIf="productList">
        <ion-item *ngFor="let produto of productList" (click)="openDetail(produto)">
            <ion-img slot="start" src="/assets/images/icon/{{ produto.icon }}.png"></ion-img>
            <ion-label>{{ produto.title }}</ion-label>
        </ion-item>
    </ion-list>
</ion-content> 
