ion-header {
	background: var(--ion-color-background);
}

ion-content, ion-toolbar {
	--background: var(--ion-color-background);
}

ion-segment-button {
    --background: #FFFFFF;
    --background-checked: var(--ion-color-medium);
    --color: var(--ion-color-cinzaclaro);
    --border-radius: 0;
    --border-width: 0;
    --padding-top: 4px;
    --padding-bottom: 4px;
    --indicator-color: transparent;
    --indicator-color-checked: transparent;

    ion-label {
        font-size: 11px;
    }
}

.segment-products {
    border-top: 1px solid var(--ion-color-border);
    border-bottom: 1px solid var(--ion-color-border);
}

ion-list {
    background: none;
    margin-top: 16px;

    ion-item {
        border-top: 1px solid var(--ion-color-border);

        ion-label {
            color: var(--ion-text-color);
            font-weight: 700;
        }

		ion-img {
			max-width: 32px;
			margin-right: 16px;
		}
    }

	ion-item:last-child {
		border-bottom: 1px solid var(--ion-color-border);
	}
}
