<ion-header no-border class="header-components">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <div class="header-title">
            <img src="../../assets/images/logo-header.png" alt="" />
        </div>
        <ion-buttons slot="end"></ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div size="12" class="title">
        <p translate>edit_profile</p> <ion-icon name="ios-arrow-forward"></ion-icon> <span translate>selected_news</span>
    </div>

    <div class="ion-text-center" translate>select_news_message</div>

    <div *ngIf="loading" class="loading-skeleton" padding>
        <div>
            <ion-skeleton-text animated></ion-skeleton-text>
            <ion-skeleton-text animated></ion-skeleton-text>
            <ion-skeleton-text animated></ion-skeleton-text>
        </div>
        <div>
            <ion-skeleton-text animated></ion-skeleton-text>
            <ion-skeleton-text animated></ion-skeleton-text>
            <ion-skeleton-text animated></ion-skeleton-text>
        </div>
    </div>

    <div *ngIf="!loading" class="tags">
        <ion-chip *ngFor="let item of categories" (click)="selectItem(item)" [color]="item.selected ? 'primary' : 'medium'" outline="true">
            <ion-label>{{ item.titulo }}</ion-label>
            <ion-icon name="close-circle" *ngIf="!item.selected"></ion-icon>
            <ion-icon name="checkmark-circle" *ngIf="item.selected"></ion-icon>
        </ion-chip>
        <div class="ion-text-center">
            <ion-button shape="round" (click)="save()" translate>save</ion-button>
        </div>
    </div>
</ion-content>
