<form novalidate [formGroup]="innovationForm" (ngSubmit)="submitInnovation()">
    <ion-list >
      <ion-list-header color="dark">
        <ion-label class="fw700" translate>newInnovation</ion-label>
      </ion-list-header>
        <ion-item color="" class="text-10">
          <ion-input formControlName="titulo" placeholder="Titulo"></ion-input>
        </ion-item>

        <ion-item color="" class="text-10">
          <ion-textarea formControlName="descricao" placeholder="Descrição"></ion-textarea>
        </ion-item>
        <!-- <ion-item color="" class="text-10">
          <label for='selecao-arquivo' translate>select_archive</label>
          <input formControlName="arquivo" id='selecao-arquivo' type='file'>
        </ion-item> -->

    </ion-list>
    <ion-row>
      <ion-col>
        <ion-button type='submit' class=" button-popover" id="save"  translate>save</ion-button>
      </ion-col>
    </ion-row>
  </form>

