.profile {
	color: var(--ion-color-cinzaclaro);

	.title {
		// text-transform: uppercase;
	}

	.flags {
		padding-top: 8px;
		padding-bottom: 8px;

		img {
			margin-right: 8px;
			border-radius: 4px;
			border: 2px solid transparent;
		}

		.selected {
			border: 2px solid var(--ion-color-secondary) !important;
		}
	}

	.image-spinner {
		text-align: center;;
	}

	.img {
		img {
			margin-top: 30px;
			height: 160px;
			max-height: 160px;
			border: 4px solid var(--ion-color-border);
			background-color: var(--ion-color-border);
		}

		p {
			font-size: 13px;
		}
	}

	.select-news-label {
		margin-top: 22px;
	}

	.select-news {
		margin-top: 16px;
		padding: 4px 16px;

		&-link {
			color: var(--ion-color-primary);
			text-decoration: underline;
		}
	}

	form {
		ion-list {
			ion-label {
				color: var(--ion-color-secondary);
				// text-transform: uppercase;
				font-size: 13px;
			}

			.button {
				text-align: center;
				margin-top: 20px;
			}
		}
	}
}
