.terms {
    background: url('../../assets/images/logo-transparent.png');
    background-repeat: no-repeat;
    background-size: auto 100px;
    background-position: center 100px;
    background-attachment: fixed;
    min-height: 200px;
}
