<ion-content class="background-img">
	<ion-grid class="painel-center">
			<ion-row class="painel-body">
				<ion-col size="12">
					<img src="../../assets/images/logo.png" />
					<form novalidate [formGroup]="loginForm" (ngSubmit)="submitLogin()">
						<ion-list>
							<ion-item>
								<ion-label position="stacked" translate>email</ion-label>
								<ion-input type="email"
								formControlName="email"></ion-input>
							</ion-item>
							<ion-item>
								<ion-label position="stacked" translate>password</ion-label>
								<ion-input type="{{password}}"
								formControlName="password"></ion-input>
								<ion-icon name="{{iconeye}}" (click)="eyeTroca($event)"></ion-icon>
							</ion-item>

							<div class="link" (click)="recoverPassword()" translate>forgot_password</div>

							<div padding class="button">
								<ion-button type="submit" shape="round" [disabled]="loginForm.invalid" translate>login</ion-button>
							</div>
						</ion-list>
					</form>
				</ion-col>
			</ion-row>
			<ion-row class="painel-footer">
				<p translate>copyright</p>
			</ion-row>
		</ion-grid>
</ion-content>
