/*Controla o tamanho da telas*/
$break-s: 320px;
$break-m: 375px;
$break-l: 425px;

/*Controla o tamanho das fontes*/
$font-s: 9px;
$font-m: 11px;
$font-l: 12px;

@mixin fontFooter {
	@media screen and (max-width: $break-s) {
		font-size: $font-s;
	}

	@media screen and (min-width: 321px) and (max-width: $break-m) {
		font-size: $font-m;
	}

	@media screen and (min-width: 376px) and (max-width: $break-l) {
		font-size: $font-l;
	}
}

ion-content{

	.link {
		color: var(--ion-color-primary);
		font-size: 11px;
		padding: 20px 16px;
		text-align: left;
	}

	.painel-center {
		height: 100%;

		.painel-body{
			height: 80%;
			display: flex;
			align-items: center;
			text-align: center;

			img{
				width: 50%;
			}
			form{

				ion-list{
					background-color: transparent;

					ion-icon {
						position: absolute;
						right: 0px;
						bottom: 0px;
						margin-bottom: 8px;
						margin-right: 10px;
						z-index: 10;

					}

				}

				.button {
					margin-top: 18px;
				}
			}
		}

		.painel-footer {
			height: 20%;
			bottom: 0px;
			position: relative;
			text-align: center;

			p{
				position: absolute;
				bottom: 0px;
				@include fontFooter;
				color: #fff;
				width: 100%;
			}
		}
	}
}
