.header-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
}
.padding-title{
    padding: 10px 0px 0px 15px;
    padding-bottom: 0px;
    margin-bottom: -12px;
}

.title {
	font-size: 1.2rem;
}

.loading-image {
    height: 200px;
    background-color: #DDDDDD;
}

.detail-container {
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.title {
	// text-transform: uppercase;
}

.link {
    // text-transform: uppercase;
    background-color: var(--ion-color-dark);
    color: var(--ion-color-primary-contrast);
    font-family: 'GillSans';
    letter-spacing: 2px;
    padding: 8px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    text-decoration: none;
}
