<ion-header no-border class="header-components">
	<ion-toolbar>
		<ion-buttons slot="start">
           <ion-back-button></ion-back-button>
        </ion-buttons>
        <div class="header-title">
            <img src="../../assets/images/logo-header.png" alt="" />
        </div>
        <ion-buttons slot="end"></ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="loading" padding>
    	<div padding text-center class="title">
    		<ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
    	</div>

		<div padding>
			<ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
			<ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
			<ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
			<ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
		</div>
    </div>

	<div *ngIf="detail">
		<ion-col size="12" class="title" padding>
			<p translate>menu.products</p> <ion-icon name="ios-arrow-forward"></ion-icon> <span translate>{{ title }}</span>
		</ion-col>

		<ion-row>
			<ion-col size="12" class="title padding-title" padding>
				<span translate>Sobre o produto</span>
			</ion-col>
			<div class="detail-container" padding>
				<div [innerHtml]="detail.about"></div>
			</div>
		</ion-row>
		<ion-row>
			<ion-col size="12" class="title padding-title" padding>
				<span translate>Concentração de uso</span>
			</ion-col>
			<div class="detail-container" padding>
				<div [innerHtml]="detail.use"></div>
			</div>
		</ion-row>
		<ion-row>
			<ion-col size="12" class="title padding-title" padding>
				<span translate>Aplicações</span>
			</ion-col>
			<div class="detail-container" padding>
				<div [innerHtml]="detail.applications"></div>
			</div>
		</ion-row>
		<ion-row>
			<ion-col size="12" class="title padding-title" padding>
				<span translate>Inci</span>
			</ion-col>
			<div class="detail-container" padding>
				<div [innerHtml]="detail.inci"></div>
			</div>
		</ion-row>

		<a class="link" *ngIf="detail.more" [href]="detail.more" target="_blank" translate>more_link</a>
	</div>

	<div *ngIf="!loading && detail && !detail.about" text-center translate>notfound_product</div>
</ion-content>
