.header-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.title {
	font-size: 1.2rem;
}

.loading-image {
    height: 200px;
    background-color: #DDDDDD;
}
