<ion-header no-border class="header-components">
	<ion-toolbar>
		<ion-buttons slot="start">
           <ion-back-button></ion-back-button>
        </ion-buttons>
        <div class="header-title">
            <img src="../../assets/images/logo-header.png" alt="" />
        </div>
        <ion-buttons slot="end"></ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="loading">
        <div class="loading-image"></div>
    	<div padding text-center class="title">
    		<ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
    	</div>

		<div padding>
			<ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
			<ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
			<ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
			<ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
		</div>
    </div>

    <div *ngIf="news">
        <ion-img [src]="news.imagem" *ngIf="news.imagem"></ion-img>
    	<div padding text-center class="title">
    		{{ news.titulo }}
    	</div>
    	<div [innerHtml]="news.conteudo" padding></div>
    </div>
</ion-content>
