<app-header></app-header>

<ion-content>
  <h2 padding translate>menu.contact</h2>

  <div class="list">
		<ion-list lines="none">
			<ion-row>
				<ion-col size="12">
					<ion-row class="title">
						BRASIL: Chemyunion Ltda.
					</ion-row>
					<ion-row >
						<span class="date"><ion-icon name="pin"></ion-icon><span class="space">Avenida Independência, 1501 • Sorocaba/SP</span></span><br>
						<span (click)="callContactBr()" class="date"><ion-icon name="call"></ion-icon><span  class="space" translate>phone</span>: +55 15 2102 2000</span>
					</ion-row>
				</ion-col>
			</ion-row>
    </ion-list>
    <ion-list lines="none">
			<ion-row>
				<ion-col size="12">
					<ion-row class="title">
						ESTADOS UNIDOS: Chemyunion, Inc.
					</ion-row>
					<ion-row >
						<span class="date"><ion-icon name="pin"></ion-icon><span class="space">198 Rt. 9 North • Suite 104 Manalapan, NJ 07726 • EUA </span> </span><br>
						<span (click)="callContactEn()" class="date"><ion-icon name="call"></ion-icon><span  class="space" translate>phone</span>: +1 732 529 0964</span>
					</ion-row>
				</ion-col>
			</ion-row>
    </ion-list>
    <ion-list lines="none">
			<ion-row>
				<ion-col size="12">
					<ion-row class="title">
						COLÔMBIA: Chemyunion Andina SAS.
					</ion-row>
					<ion-row >
						<span class="date"><ion-icon name="pin"></ion-icon><span class="space">Carrera 7 #70A-21 • Oficina 407 Bogotá</span></span><br>
						<span (click)="callContactCol()" class="date"><ion-icon name="call"></ion-icon><span  class="space" translate>phone</span>: +57 1 302 6555</span>
					</ion-row>
				</ion-col>
			</ion-row>
		</ion-list>
	</div>
</ion-content>
